{% extends "base.html" %}

{% block content %}

    <h1>Real Estate Home Page</h1>
    <p>Welcome to Best Real Estate Data Base!</p>
    <h2>The service has the following record counts:</h2>
    <ul>
        <li><strong>Houses:</strong> {{ num_houses }}</li>
        <li><strong>Realtors:</strong> {{ num_realtors }}</li>
    </ul>
  <p style="font-size: 24px">Discover the essence of exquisite living through our curated selection of premium properties. As the premier destination for those seeking unparalleled elegance and luxury, our portfolio showcases an array of homes meticulously crafted to exceed every expectation.</p>


{% endblock %}
